@using PowerSystemMonitoring.Common
@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        
        <img src="~/images/index/Karta_nova_03_2012_BG.jpg" class="img-thumbnail" />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


